<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ifconfig.rs</title>
  </head>
  <body>
    <h1>ifconfig.rs</h1>
    <h3>Your IP address is</h3>
    <code>{{ ip }}</code>
    <h3>Your user agent is</h3>
    <code>{{ user_agent }}</code>
  </body>
</html>

